@media (max-width: 600px) {
  
   .header .linkH {
    font-size: 20px;
   }

   .header .nav {
     flex-direction: column;
     gap: 20px;
   }

    .divH {
        grid-template-columns: repeat(5, 1fr);
    }

   .catalog .post {
      font-size: 14px;
      grid-template-columns: repeat(5, 1fr);
   }

   .catalog .btnDiv {
        margin: 2px auto 2px 6rem;
   }

   .catalog .btn,  .catalog .detailsBtn {
     font-size: 16px;
     padding: 3px 7px;
   }

   .create .info input {
    width: auto;
   }

}